<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>EDIT_USER</title>

</head>
<body>
<a th:href="@{/logout}">Logout</a><br/>
<table border="1" th:object="${user}">
    <thead>
    <th>Id</th>
    <th>First name</th>
    <th>Last name</th>
    <th>Age</th>
    <th>Email</th>
    <th>Password</th>
    </thead>
    <tr>
        <tbody>
        <form th:method="post" th:action="@{/admin/{id}(id=${user.getId()})}" th:object="${user}">

            <td th:text="*{id}" id="xx"></td>
            <td><input type="text" th:field="*{firstname}" id="firstname" required/></td>
            <td><input type="text" th:field="*{lastname}" id="lastname" required/></td>
            <td><input type="text" th:field="*{age}" id="age" required/></td>
            <td><input type="text" th:field="*{email}" id="email" required/></td>
            <td><input type="password" th:field="*{password}" id="password" required/></td>
            <td><input type="submit" value="Update"/></td>

        </form>

<!--        <form th:method="post" th:action="@{/admin/del/__*{id}__}" th:object="${user}">-->
<!--            <td><input type="submit" value="Delete"/>-->
<!--        </form>-->
        <form th:method="post" th:action="@{/admin/del/__*{id}__}" th:object="${user}">
            <td><input type="submit" value="Delete"/>
        </form>

        </tbody>
    </tr>
</table>
<p><a href="/admin/all" id="allUsers">List all users</a></p>
</body>
</html>