<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>USER</title>
    <style>
        table th, table td {
            padding: 5px;
        }
        h1 {
            font-family: 'Times New Roman', Times, serif;
            font-size: 200%;
        }
    </style>
</head>

<body>
<a th:href="@{/logout}">Logout</a>
<div>
    <table border="1" th:object="${user}">
        <thead>
        <h1>Page for User</h1>
        <th>Id</th>
        <th>First name</th>
        <th>Last name</th>
        <th>Age</th>
        <th>Email</th>
        </thead>
        <tr>
            <tbody>
            <td><b th:text="*{id}" id="id"></b></td>
            <td><b th:text="*{firstname}" id="firstn"></b></td>
            <td><b th:text="*{lastname}" id="lastn"></b></td>
            <td><b th:text="*{age}" id="age"></b></td>
            <td><b th:text="*{email}" id="email"></b></td>
            </tbody>
        </tr>
    </table>
</body>
</html>