<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">

    <title>ADMIN</title>
</head>

<body>

<nav class="navbar navbar-dark sticky-top bg-dark">
    <span class="navbar-brand">
        <div sec:authorize="isAuthenticated()">
            <b sec:authentication="name"></b>
            <a>with roles:</a>
            <a sec:authentication="principal.authorities"></a>
        </div>

    </span>
    <ul class="navbar-nav">
        <a class="nav-link" href="/logout">Logout</a>
    </ul>
</nav>

<div class="container-fluid">
    <div class="row">
        <nav class="col-lg-2 bg-light">
            <div class="sidebar-sticky pt-3">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-pills active btn-lg    btn-block btn-primary" href="/admin/all">
                            Admin
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/admin/user">
                            User
                        </a>
                    </li>
                </ul>
            </div>
        </nav>

        <div class="container">
            <br>
            <h1>Admin panel</h1>
            <br>
            <!-- Nav tabs -->
            <ul class="nav nav-tabs" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" data-toggle="tab" href="#menu1">Users table</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#menu2">New user</a>
                </li>
            </ul>

            <!-- Tab panes -->
            <div class="tab-content">
                <div id="menu1" class="container tab-pane active"><br>
                    <h4>All users</h4>
                    <div class="container">
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th>Id</th>
                                <th>First name</th>
                                <th>Last name</th>
                                <th>Age</th>
                                <th>Email</th>
                                <th>Role</th>
                                <th>Edit</th>
                                <th>Delete</th>
                            </tr>
                            </thead>
                            <tbody id="userRows">
                            <!--Table-->
                            </tbody>
                        </table>
                    </div>
                </div>
                <div id="menu2" class="container tab-pane fade"><br>
                    <h3>Add new user</h3>
                    <div class="container">

                        <div class="row justify-content-md-center">
                            <div class="col-sm-3">
                                <form class="add-new-user">

                                    <div class="form-group text-center font-weight-bold">
                                        <label for="First_name_New">First name</label>
                                        <input type="text" name="firstname" id="First_name_New" class="form-control"
                                               placeholder="Name">
                                    </div>
                                    <div class="form-group text-center font-weight-bold">
                                        <label for="Last_name_New">Last name</label>
                                        <input type="text" name="lastname" id="Last_name_New" class="form-control"
                                               placeholder="Last name">
                                    </div>
                                    <div class="form-group text-center font-weight-bold">
                                        <label for="Age_New">Age</label>
                                        <input type="text" name="age" id="Age_New" class="form-control"
                                               placeholder="Age">
                                    </div>
                                    <div class="form-group text-center font-weight-bold">
                                        <label for="Email_New">Email</label>
                                        <input type="email" name="email" id="Email_New" class="form-control"
                                               placeholder="Email">
                                    </div>
                                    <div class="form-group text-center font-weight-bold">
                                        <label for="Password_New">Password</label>
                                        <input type="password" name="password" id="Password_New" class="form-control"
                                               placeholder="Password">
                                    </div>
                                    </br>
                                    <div class="form-group text-center font-weight-bold">
                                        <input type="checkbox" id="Adm_New">
                                        <label for="butt_New">ADMIN</label>
                                        <input type="checkbox" id="Us_New"> <label>USER</label>
                                        <button class="btn btn-success" id="butt_New" type="submit">Add new user
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- The Modal Edit -->
<div class="modal" id="myEdit">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Edit user</h4>
                <button type="button" class="close" data-dismiss="modal">×
                </button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">

                <form>

                    <div class="form-group text-center font-weight-bold">
                        <label for="idEdit" class="form-control-label">ID</label>
                        <input type="text" class="form-control" id="idEdit" value=""
                               disabled>
                    </div>
                    <div class="form-group text-center font-weight-bold">
                        <label for="firstnameEdit"
                               class="form-control-label">Name</label>
                        <input type="text" class="form-control"
                               id="firstnameEdit">
                    </div>
                    <div class="form-group text-center font-weight-bold">
                        <label for="lastnameEdit" class="form-control-label">Last
                            name</label>
                        <input type="text" class="form-control"
                               id="lastnameEdit">
                    </div>
                    <div class="form-group text-center font-weight-bold">
                        <label for="ageEdit" class="form-control-label">Age</label>
                        <input type="text" class="form-control" id="ageEdit">
                    </div>
                    <div class="form-group text-center font-weight-bold">
                        <label for="emailEdit"
                               class="form-control-label">Email</label>
                        <input type="email" class="form-control" id="emailEdit">
                    </div>
                    <div class="form-group text-center font-weight-bold">
                        <label for="passwordEdit" class="form-control-label">Password</label>
                        <input type="password" class="form-control "
                               id="passwordEdit">
                    </div>

                    <div class="form-group text-center font-weight-bold">
                        <input type="checkbox" name="isadmin">
                        <label>ADMIN</label>
                        <input type="checkbox" name="isuser">
                        <label>USER</label>
                        <br>
                        <br>
                        <button type="button" class="btn btn-secondary"
                                data-dismiss="modal">Close
                        </button>
                        <button type="submit" class="btn btn-info">Edit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- The Modal Delete -->
<div class="modal" id="myDelete">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Delete user</h4>
                <button type="button" class="close" data-dismiss="modal">×
                </button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">

                <form>

                    <div class="form-group text-center font-weight-bold">
                        <label>ID</label>
                        <input type="text" class="form-control"
                              id="id_Del" value="" disabled>
                    </div>
                    <div class="form-group text-center font-weight-bold">
                        <label>First name</label>
                        <input type="text" class="form-control"
                               id="firstname_Del" value="" disabled>
                    </div>
                    <div class="form-group text-center font-weight-bold">
                        <label>Last name</label>
                        <input type="text" class="form-control"
                               id="lastname_Del" value="" disabled>
                    </div>
                    <div class="form-group text-center font-weight-bold">
                        <label>Age</label>
                        <input type="text" class="form-control"
                               id="age_Del" value="" disabled>
                    </div>
                    <div class="form-group text-center font-weight-bold">
                        <label>Email</label>
                        <input type="email" class="form-control"
                               id="email_Del" value="" disabled>
                    </div>
                    <div class="form-group text-center font-weight-bold">
                        <label>Password</label>
                        <input type="password" class="form-control "
                               id="password_Del" value="" disabled>
                    </div>
                    <div class="form-group text-center font-weight-bold">
                        <label>Role</label>
                        <input type="text" class="form-control"
                               id="roles_Del" value="" disabled>
                    </div>

                    <div class="form-group text-center font-weight-bold">
                        <button type="button" class="btn btn-secondary"
                                data-dismiss="modal">Close
                        </button>
                        <button type="submit" class="btn btn-danger" onclick="sendDel()">Delete
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<script src="/js/all.js"></script>
<script src="/js/new.js"></script>
<script src="/js/delete.js"></script>


</body>
</html>