<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">

    <title>ADMIN</title>
</head>

<body>

<nav class="navbar navbar-dark sticky-top bg-dark">
    <span class="navbar-brand">
        <b th:text="${email}"></b>
        <span th:text="' with roles: ' + ${roles}"></span>
    </span>
    <ul class="navbar-nav">
        <a class="nav-link" href="/logout">Logout</a>
    </ul>
</nav>

<div class="container-fluid">
    <div class="row">
        <nav class="col-lg-2 bg-light">
            <div class="sidebar-sticky pt-3">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-pills active btn-lg    btn-block btn-primary" href="/admin/all">
                            Admin
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/admin/user">
                            User
                        </a>
                    </li>
                </ul>
            </div>
        </nav>

        <div class="container">
            <br>
            <h1>Admin panel</h1>
            <br>
            <!-- Nav tabs -->
            <ul class="nav nav-tabs" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" data-toggle="tab" href="#menu1">Users table</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#menu2">New user</a>
                </li>
            </ul>

            <!-- Tab panes -->
            <div class="tab-content">
                <div id="menu1" class="container tab-pane active"><br>
                    <h4>All users</h4>
                    <div class="container">
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th>Id</th>
                                <th>First name</th>
                                <th>Last name</th>
                                <th>Age</th>
                                <th>Email</th>
                                <th>Role</th>
                                <th>Edit</th>
                                <th>Delete</th>
                            </tr>
                            </thead>
                            <tbody>
                            <th:block th:each="user : ${allUsers}" th:object="${user}">
                                <tr>
                                    <td th:text="*{id}" id="td_id"></td>
                                    <td th:text="*{firstname}" id="td_first"></td>
                                    <td th:text="*{lastname}" id="td_last"></td>
                                    <td th:text="*{age}" id="td_age"></td>
                                    <td th:text="*{email}" id="td_email"></td>
                                    <td>
                                        <th:block th:each="ro : *{roles}">
                                            <a th:text="${ro.getRole()}"></a>
                                        </th:block>
                                    </td>
                                    <td>
                                        <button type="button" class="btn btn-info" data-toggle="modal"
                                                data-target="#myEdit" th:attrappend="data-target=${user.getId()}">
                                            Edit
                                        </button>

                                        <!-- The Modal -->
                                        <div class="modal" id="myEdit" th:attrappend="id=${user.getId()}">
                                            <div class="modal-dialog">
                                                <div class="modal-content">

                                                    <!-- Modal Header -->
                                                    <div class="modal-header">
                                                        <h4 class="modal-title">Edit user</h4>
                                                        <button type="button" class="close" data-dismiss="modal">×
                                                        </button>
                                                    </div>

                                                    <!-- Modal body -->
                                                    <div class="modal-body">

                                                        <form th:method="POST"
                                                              th:action="@{/admin/{id}(id=${user.getId()})}"
                                                              th:object="${user}">

                                                            <div class="form-group text-center font-weight-bold">
                                                                <label for="id1" class="form-control-label">ID</label>
                                                                <input type="text" class="form-control" th:name="id"
                                                                       th:value="${user.getId()}" id="id1" value=""
                                                                       disabled>
                                                            </div>
                                                            <div class="form-group text-center font-weight-bold">
                                                                <label for="firstname1"
                                                                       class="form-control-label">Name</label>
                                                                <input type="text" class="form-control"
                                                                       th:name="firstname"
                                                                       th:value="${user.getFirstname()}"
                                                                       id="firstname1">
                                                            </div>
                                                            <div class="form-group text-center font-weight-bold">
                                                                <label for="lastname1" class="form-control-label">Last
                                                                    name</label>
                                                                <input type="text" class="form-control"
                                                                       th:name="lastname"
                                                                       th:value="${user.getLastname()}" id="lastname1">
                                                            </div>
                                                            <div class="form-group text-center font-weight-bold">
                                                                <label for="age1" class="form-control-label">Age</label>
                                                                <input type="text" class="form-control" th:name="age"
                                                                       th:value="${user.getAge()}" id="age1">
                                                            </div>
                                                            <div class="form-group text-center font-weight-bold">
                                                                <label for="email1"
                                                                       class="form-control-label">Email</label>
                                                                <input type="email" class="form-control" th:name="email"
                                                                       th:value="${user.getEmail()}" id="email1">
                                                            </div>
                                                            <div class="form-group text-center font-weight-bold">
                                                                <label for="password1" class="form-control-label">Password</label>
                                                                <input type="password" class="form-control "
                                                                       th:name="password"
                                                                       th:value="${user.getPassword()}" id="password1">
                                                            </div>

                                                            <div class="form-group text-center font-weight-bold">
                                                                <input type="checkbox" name="isadmin"
                                                                       th:checked="*{isadmin}">
                                                                <label>ADMIN</label>
                                                                <input type="checkbox" name="isuser"
                                                                       th:checked="*{isuser}">
                                                                <label>USER</label>
                                                                <br>
                                                                <br>
                                                                <button type="button" class="btn btn-secondary"
                                                                        data-dismiss="modal">Close
                                                                </button>
                                                                <button type="submit" class="btn btn-info">Edit</button>
                                                            </div>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <button type="button" class="btn btn-danger" data-toggle="modal"
                                                data-target="#myDelete" th:attrappend="data-target=${user.getId()}">
                                            Delete
                                        </button>
                                        <!-- The Modal -->
                                        <div class="modal" id="myDelete" th:attrappend="id=${user.getId()}">
                                            <div class="modal-dialog">
                                                <div class="modal-content">

                                                    <!-- Modal Header -->
                                                    <div class="modal-header">
                                                        <h4 class="modal-title">Delete user</h4>
                                                        <button type="button" class="close" data-dismiss="modal">×
                                                        </button>
                                                    </div>

                                                    <!-- Modal body -->
                                                    <div class="modal-body">

                                                        <form th:method="POST"
                                                              th:action="@{/admin/del/{id}(id=${user.getId()})}"
                                                              th:object="${user}">

                                                            <div class="form-group text-center font-weight-bold">
                                                                <label>ID</label>
                                                                <input type="text" class="form-control"
                                                                       th:value="${user.getId()}"  value="" disabled>
                                                            </div>
                                                            <div class="form-group text-center font-weight-bold">
                                                                <label>First name</label>
                                                                <input type="text" class="form-control"
                                                                       th:value="${user.getFirstname()}" value="" disabled>
                                                            </div>
                                                            <div class="form-group text-center font-weight-bold">
                                                                <label>Last name</label>
                                                                <input type="text" class="form-control"
                                                                       th:value="${user.getLastname()}" value="" disabled>
                                                            </div>
                                                            <div class="form-group text-center font-weight-bold">
                                                                <label>Age</label>
                                                                <input type="text" class="form-control"
                                                                       th:value="${user.getAge()}" value=""disabled>
                                                            </div>
                                                            <div class="form-group text-center font-weight-bold">
                                                                <label>Email</label>
                                                                <input type="email" class="form-control"
                                                                       th:value="${user.getEmail()}" value="" disabled>
                                                            </div>
                                                            <div class="form-group text-center font-weight-bold">
                                                                <label>Password</label>
                                                                <input type="password" class="form-control "
                                                                       th:value="${user.getPassword()}" value="" disabled>
                                                            </div>
                                                            <div class="form-group text-center font-weight-bold">
                                                                <label>Role</label>
                                                                <th:block th:each="ro:${user.getRoles()}">
                                                                    <input type="text" class="form-control"
                                                                           th:value="${ro.getRole()}" value=""disabled>
                                                                </th:block>
                                                            </div>

                                                            <div class="form-group text-center font-weight-bold">
                                                                <button type="button" class="btn btn-secondary"
                                                                        data-dismiss="modal">Close
                                                                </button>
                                                                <button type="submit" class="btn btn-danger">Delete
                                                                </button>
                                                            </div>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </td>
                                </tr>
                            </th:block>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div id="menu2" class="container tab-pane fade"><br>
                    <h3>Add new user</h3>
                    <div class="container">

                        <div class="row justify-content-md-center">
                            <div class="col-sm-3">
                                <form th:action="@{/admin}" method="post" th:object="${user}">

                                    <div class="form-group text-center font-weight-bold">
                                        <label for="First name">First name</label>
                                        <input type="text" name="firstname" id="First name" class="form-control"
                                               placeholder="Name">
                                    </div>
                                    <div class="form-group text-center font-weight-bold">
                                        <label for="Last name">Last name</label>
                                        <input type="text" name="lastname" id="Last name" class="form-control"
                                               placeholder="Last name">
                                    </div>
                                    <div class="form-group text-center font-weight-bold">
                                        <label for="Age">Age</label>
                                        <input type="text" name="age" id="Age" class="form-control" placeholder="Age">
                                    </div>
                                    <div class="form-group text-center font-weight-bold">
                                        <label for="Email">Email</label>
                                        <input type="email" name="email" id="Email" class="form-control"
                                               placeholder="Email">
                                    </div>
                                    <div class="form-group text-center font-weight-bold">
                                        <label for="Password">Password</label>
                                        <input type="password" name="password" id="Password" class="form-control"
                                               placeholder="Password">
                                    </div>
                                    </br>
                                    <div class="form-group text-center font-weight-bold">
                                        <input type="checkbox" name="isadmin" th:checked="*{isadmin}">
                                        <label>ADMIN</label>
                                        <input type="checkbox" name="isuser" th:checked="*{isuser}"> <label>USER</label>
                                        <button class="btn btn-success" type="submit">Add new user</button>
                                    </div>
                                </form>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>

</body>
</html>